/* <-- SCREEN 1000px --> */

@media(max-width: 1000px) {
    
}



/* <-- SCREEN 750px --> */

@media(max-width: 750px) {
    header:has(img:first-of-type:hover) nav,
    .nav:hover {
        transform: unset;
    }

    .card:hover {
        background-color: rgba(255, 255, 255);
    }
}



/* <-- SCREEN 550px --> */

@media(max-width: 550px) {
    header span {
        font-size: 1.4em;
    }

    .search {
        width: 60%;
    }

    .card {
        margin: 20px 5px 0 5px;
    }

    .single-profile {
        padding: 0 20px;
        box-sizing: border-box;
    }

    .close-tag {
        height: 20px;
    }

    .close {
        margin: 40px 0 0 0;
    }
}



/* <-- SCREEN 450px --> */

@media(max-width: 450px) {
    header span {
        font-size: 1.3em;
    }

    header img:first-of-type {
        height: 35px;
    }

    .nav {
        width: 100%;
        align-items: center;
        padding: 30px 0;
    }

    .card {
        width: 80%;
    }

    .close {
        top: 85px;
        right: 25px;
    }

    .single-profile {
        padding: 0 10px;
    }

    .profile-name img {
        position: relative;
        top: -265px;
        left: 50px;
    }

    .input-comment div {
        width: 80%;
    }

    .chat-heading p {
        font-size: 1.1em;
    }

    .chat-heading img {
        height: 25px;
        width: 25px;
    }
}




/* <-- SCREEN 350px --> */

@media(max-width: 350px) {
    header {
        padding: 15px 5px;
    }

    .heading {
        font-size: 1.2em;
    }

    header img:first-of-type {
        height: 35px;
        margin-right: 5px;
    }

    header img:last-of-type {
        height: 35px;
    }

    .profile-img {
        width: 100%;
    }

    .chat-heading p {
        padding-left: 15px;
        font-size: 1em;
    }

    .chat-heading img {
        height: 23px;
        width: 23px;
    }
}



/* <-- SCREEN 280px --> */

@media(max-width: 280px) {
    .chat-heading img {
        left: 8px;
    }
}